#game div {
  border: 1px solid black;
  width: 18%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

h1{
  color: mediumblue;
  background-color: mediumturquoise;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}